div {
    background-color: whitesmoke;
    padding: .7em;
    border-radius: 10px;
    margin-top: .7em;
}

.delete{
    margin-left: 2em;
    background-color: rgb(255, 67, 67);
    color:whitesmoke;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.246)
}